    <%= form_for current_user do |f| %>
      <h2>登録情報</h2>
          <%= f.text_field :family_name, placeholder: "姓" %>
          <%= f.text_field :first_name, placeholder: "名" %>
          <%= f.text_field :family_name_kana, placeholder: "セイ" %>
          <%= f.text_field :first_name_kana, placeholder: "メイ" %>
        <%= f.submit "送信" %>
    <% end %>