    <%= form_for current_user do |f| %>
      <h2>プロフィール画像</h2>
      <div class="form-group file">
        <%= f.file_field :avatar, class: "form-control floating-label", placeholder: "画像アップロード" %>
      </div>
      <h2>登録情報</h2>
          <%= f.text_field :family_name, placeholder: "姓" %>
          <%= f.text_field :first_name, placeholder: "名" %>
          <%= f.text_field :family_name_kana, placeholder: "セイ" %>
          <%= f.text_field :first_name_kana, placeholder: "メイ" %>
        <%= f.submit "送信" %>
    <% end %>