<% if user_signed_in? %>
  <ul class="nav navbar-nav">
    <li><%= link_to "HOME", root_path %></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><%= link_to "マイページ", user_path(current_user) %></li>
    <li><%= link_to "プロフィール編集", edit_user_path(current_user) %></li>
    <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><%= link_to "投稿する", posts_new_path(current_user) %></li>
  </ul>
  <ul class="nav navbar-nav">
    <li><%= link_to "九州の山々", yamanames_path %></li>
  </ul>
<% end %>